<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are Summarized.

__Objectives:__
- Some commonly used programming languages in data science
- Some commonly used programming libraries in data science
- Table displaying some open source data science tools
- A few basic arithmetic examples
- A function I created at the end

Some of the commonly used programming languages by Data Scientists include:
1. Python
2. R
3. Java
4. Julia
5. SQL
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. seaborn
5. scikit-learn

| Data Science Tools|
|-------------------|
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 # We use PEMDAS: 3*4 = 12, 12 + 5 = 17

17

In [3]:
# Convert 200 minutes to hours
# This will convert 200 minutes to hours by diving by 60
hrs = 200 / 60
hrs

3.3333333333333335

In [4]:
# You can also define a function

def min_to_hrs(minutes):
    hrs = minutes / 60
    return hrs

min_to_hrs(200)

3.3333333333333335

## Author:

- Marko Miovski